.input-email{
   padding: 10px; 
}
.input-pass{
   padding: 10px; 
}

.header{
    font-family: Arial, Helvetica, sans-serif;
    font-size: larger;
    font-weight: 700;
}

.SignUp-buttons{
    padding: 10px;
    
    
}

.login-button{
    height: 40px;
    width: 70px;
    background-color: rgb(0, 123, 255);
    border: none;
    border-radius: 10px;
    color: white;
}

.signup-button{
    width: 70px;
    height: 40px;
    margin-left: 20px;
    background-color: rgb(0, 123, 255);
    border: none;
    border-radius: 10px;
    color: white;
}


.show-button{
    margin-left: 10px;
}